<!DOCTYPE html>
<html lang="zh" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录 - 物联网调试管理系统</title>
    <script th:src="@{/statics/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/statics/tabler/tabler.min.js}"></script>
    <link rel="stylesheet" th:href="@{/statics/tabler/tabler.min.css}">
    <link rel="stylesheet" th:href="@{/statics/system/common.css}">
    <script th:src="@{/statics/system/common.js}"></script>
</head>
<body class="d-flex flex-column theme-light" inmaintabuse="1">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="../../webapp/WEB-INF/template" class="navbar-brand navbar-brand-autodark"><img src="./static/logo.svg" height="36" alt=""></a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <div class="mb-3" th:if="${msg} != null">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-title">登录失败</h4>
                        <div class="text-muted" th:text="${msg}"></div>
                    </div>
                </div>
                <h2 class="h2 text-center mb-4">WeMQ - 管理员后台</h2>
                <form action="/dologin" method="post" autocomplete="off" novalidate="" data-bitwarden-watching="1">
                    <input type="hidden" name="redirect" th:value="${redirect}">
                    <div class="mb-3">
                        <label class="form-label">管理员用户名</label>
                        <input type="text" name="username" class="form-control" placeholder="请输入用户名" autocomplete="off">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">
                            密码
                            <!--              <span class="form-label-description">-->
                            <!--                    <a href="./forgot-password.html">忘记密码</a>-->
                            <!--                  </span>-->
                        </label>
                        <div class="input-group input-group-flat">
                            <input type="password" name="password" class="form-control" placeholder="请输入密码" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">登录系统</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center text-muted mt-3">
            <a href="https://beian.miit.gov.cn/" style="color:	#808080">鲁ICP备2022034231号-1</a><span style="color:	#808080;"> | </span>
            <img src="https://img.nicholasld.cn/i/2023/02/23/63f757b60a7dc.png" style="vertical-align:middle">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37010502001904" style="color:	#808080;">
                鲁公网安备 37010502001904号</a>
        </div>
    </div>
</div>
</body>
</html>
