<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mmanager.dao.MQTT.NmqsMapper">
    <resultMap id="select" type="NmqsToken">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="token" property="token" />
        <result column="protocol" property="protocol" />
        <result column="mqtt_server" property="mqttServer" />
        <result column="mqtt_port" property="mqttPort" />
        <result column="mqtt_username" property="mqttUsername" />
        <result column="mqtt_password" property="mqttPassword" />
    </resultMap>

    <select id="select" resultType="cn.mmanager.model.pojo.NmqsToken" resultMap="select">
        select * from mq_nmqs_token
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="token != null">
                and token = #{token}
            </if>
        </where>
    </select>

    <select id="selectById" resultType="cn.mmanager.model.pojo.NmqsToken" resultMap="select">
        select * from mq_nmqs_token where id = #{id}
    </select>

    <select id="getInfoByToken" resultType="cn.mmanager.model.pojo.NmqsToken" resultMap="select">
        select * from mq_nmqs_token where token = #{token}
    </select>

    <insert id="insert" parameterType="NmqsToken">
        insert into mq_nmqs_token (id, name, token, protocol, mqtt_server, mqtt_port, mqtt_username, mqtt_password)
        values (#{id}, #{name}, #{token}, #{protocol}, #{mqttServer}, #{mqttPort}, #{mqttUsername}, #{mqttPassword})
    </insert>

    <update id="update" parameterType="NmqsToken">
        update mq_nmqs_token
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="token != null">
                token = #{token},
            </if>
            <if test="protocol != null">
                protocol = #{protocol},
            </if>
            <if test="mqttServer != null">
                mqtt_server = #{mqttServer},
            </if>
            <if test="mqttPort != null">
                mqtt_port = #{mqttPort},
            </if>
            <if test="mqttUsername != null">
                mqtt_username = #{mqttUsername},
            </if>
            <if test="mqttPassword != null">
                mqtt_password = #{mqttPassword},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        delete from mq_nmqs_token where id = #{id}
    </delete>
</mapper>
