<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
        <!--扫描基础包-->
        <context:component-scan base-package="cn.mmanager"/>
        <!--配置视图解析器-->
        <bean id="viewResolver" class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
            <property name="order" value="1"/>
            <property name="characterEncoding" value="UTF-8"/>
            <property name="templateEngine">
                <bean class="org.thymeleaf.spring5.SpringTemplateEngine">
                    <property name="templateResolver">
                        <bean class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
                            <!--视图前缀-->
                            <property name="prefix" value="/WEB-INF/template/"/>
                            <!--视图后缀-->
                            <property name="suffix" value=".html"/>
                            <property name="templateMode">
                                <value type="org.thymeleaf.templatemode.TemplateMode">HTML</value>
                            </property>
                            <property name="characterEncoding" value="UTF-8"/>
                        </bean>
                    </property>
                </bean>
            </property>
        </bean>
        <!--启动mvc注解驱动-->
        <!--  springmvc的注解驱动 conversion-service="myConversionService-->
        <mvc:annotation-driven >
            <!--        解决json数据中文乱码问题-->
            <mvc:message-converters>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>application/json;charset=utf-8</value>
                        </list>
                    </property>
                </bean>
            </mvc:message-converters>
        </mvc:annotation-driven>
        <!-- 静态资源引入-->
        <mvc:resources mapping="/statics/**" location="/statics/"/>
        <!-- 文件上传-->

        <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
            <property name="maxUploadSize" value="500000"/>
            <property name="defaultEncoding" value="utf-8"/>
        </bean>

        <!--配置拦截器-->
        <mvc:interceptors>
<!--            <mvc:interceptor>-->
<!--                <mvc:mapping path="/**"/>-->
<!--                <mvc:exclude-mapping path="/statics/**"/>-->
<!--                <bean class="cn.mmanager.framework.interceptor.LoginInterceptor"/>-->
<!--            </mvc:interceptor>-->
            <!--配置防重复提交注解拦截器-->
            <mvc:interceptor>
                <mvc:mapping path="/**"/>
                <mvc:exclude-mapping path="/statics/**"/>
                <bean class="cn.mmanager.framework.interceptor.RepeatSubmitInterceptor"/>
            </mvc:interceptor>
        </mvc:interceptors>

    <!--配置aop-->
    <aop:aspectj-autoproxy/>
    <bean id="repeatSubmitAspect" class="cn.mmanager.framework.aspectj.RepeatSubmitAspect"/>
</beans>
