<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>控制台 - 物联网调试管理系统</title>
    <script th:src="@{/statics/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/statics/tabler/tabler.min.js}"></script>
    <link rel="stylesheet" th:href="@{/statics/tabler/tabler.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/statics/toastify/toastify.min.css}">
    <script type="text/javascript" th:src="@{/statics/toastify/toastify-js.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/statics/bootstrap/table/bootstrap-table.min.css}">
    <script th:src="@{/statics/bootstrap/table/bootstrap-table.min.js}"></script>
    <script th:src="@{/statics/bootstrap/table/bootstrap-table-zh-CN.min.js}"></script>
    <link rel="stylesheet" th:href="@{/statics/system/common.css}">
</head>
<body>
<div class="page">
    <div th:replace="common/header :: header"></div>

    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            物联网调试管理后台
                        </div>
                        <h2 class="page-title">
                            控制台
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="container-xl">
                <div class="row row-deck row-cards">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="subheader">调试页面</div>
                                </div>
                                <div class="h1 mb-3">75个</div>
                                <div class="d-flex mb-2">
                                    <div>启用状态</div>
                                    <div class="ms-auto">
                                        <span class="text-green d-inline-flex align-items-center lh-1">
                                          69个 已启用
                                        </span>
                                    </div>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" aria-label="75% Complete">
                                        <span class="visually-hidden">75% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="subheader">管理员</div>
                                </div>
                                <div class="h1 mb-3">6个</div>
                                <div class="d-flex mb-2">
                                    <div>启用状态</div>
                                    <div class="ms-auto">
                                        <span class="text-green d-inline-flex align-items-center lh-1">
                                          4个 已启用
                                        </span>
                                    </div>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" aria-label="75% Complete">
                                        <span class="visually-hidden">75% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="subheader">Nmqs API服务状态</div>
                                </div>
                                <div class="d-flex align-items-baseline">
                                    <div class="h1 mb-3 me-2">
                                        <span class="status status-green">
                                            <span class="status-dot status-dot-animated"></span>
                                            服务正常
                                        </span>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <div class="tracking">
                                        <div class="tracking-block bg-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Operational"></div>
                                        <div class="tracking-block bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Downtime"></div>
                                        <div class="tracking-block bg-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Operational"></div>
                                        <div class="tracking-block bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Big load"></div>
                                        <div class="tracking-block" data-bs-toggle="tooltip" data-bs-placement="top" title="No data"></div>
                                        <div class="tracking-block" data-bs-toggle="tooltip" data-bs-placement="top" title="No data"></div>
                                        <div class="tracking-block bg-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Operational"></div>
                                        <div class="tracking-block bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Downtime"></div>
                                        <div class="tracking-block bg-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Operational"></div>
                                        <div class="tracking-block bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Big load"></div>
                                        <div class="tracking-block" data-bs-toggle="tooltip" data-bs-placement="top" title="No data"></div>
                                        <div class="tracking-block" data-bs-toggle="tooltip" data-bs-placement="top" title="No data"></div>
                                        <div class="tracking-block bg-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Operational"></div>
                                        <div class="tracking-block bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Downtime"></div>
                                        <div class="tracking-block bg-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Operational"></div>
                                        <div class="tracking-block bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Big load"></div>
                                        <div class="tracking-block" data-bs-toggle="tooltip" data-bs-placement="top" title="No data"></div>
                                        <div class="tracking-block" data-bs-toggle="tooltip" data-bs-placement="top" title="No data"></div>
                                        <div class="tracking-block bg-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Operational"></div>
                                        <div class="tracking-block bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Downtime"></div>
                                        <div class="tracking-block bg-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Operational"></div>
                                        <div class="tracking-block bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Big load"></div>
                                        <div class="tracking-block" data-bs-toggle="tooltip" data-bs-placement="top" title="No data"></div>
                                        <div class="tracking-block" data-bs-toggle="tooltip" data-bs-placement="top" title="No data"></div>
                                        ...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">业务状态</h3>
                                <div class="datagrid">
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">设备调试</div>
                                        <div class="datagrid-content">
                                            <span class="status status-red">
                                                <span class="status-dot status-dot-animated"></span>
                                                服务异常
                                            </span>
                                        </div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">调试页面管理</div>
                                        <div class="datagrid-content">
                                            <span class="status status-red">
                                                <span class="status-dot status-dot-animated"></span>
                                                服务异常
                                            </span>
                                        </div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">NMQS Token管理</div>
                                        <div class="datagrid-content">
                                             <span class="status status-red">
                                                <span class="status-dot status-dot-animated"></span>
                                                服务异常
                                            </span>
                                        </div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">客户管理</div>
                                        <div class="datagrid-content">
                                            <span class="status status-green">
                                                <span class="status-dot status-dot-animated"></span>
                                                服务正常
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">系统信息</h3>
                                <div class="datagrid">
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">操作系统</div>
                                        <div class="datagrid-content" th:text="${platform}"></div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">处理器</div>
                                        <div class="datagrid-content">Intel® Xeon® Platinum 8180 Processor</div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">CPU占用率</div>
                                        <div class="datagrid-content">
                                            85%
                                        </div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" aria-label="75% Complete">
                                                <span class="visually-hidden">75% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">内存占用</div>
                                        <div class="datagrid-content">8.13GB / 32.00GB</div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" aria-label="75% Complete">
                                                <span class="visually-hidden">75% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">JRE Version</div>
                                        <div class="datagrid-content">
                                            1.8.0_181
                                        </div>
                                    </div>
                                    <div class="datagrid-item">
                                        <div class="datagrid-title">主机名</div>
                                        <div class="datagrid-content">
                                            localhost
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">登录日志 <span id="today" class="status status-blue"></span></h3>
<!--                                <div class="table-responsive" style="padding: 0 30px">-->
<!--                                    -->
<!--                                </div>-->
                                <table class="table table-vcenter" id="login_log">
                                    <thead>
                                    <tr>
                                        <th>登录时间</th>
                                        <th>用户名</th>
                                        <th>IP</th>
                                        <th>操作系统</th>
                                        <th>状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    //菜单class追加属性
    $(function () {
        $("#menu_dashboard").addClass("active");

        //获取今天日期
        let today = new Date();
        let year = today.getFullYear();
        let month = today.getMonth() + 1;
        let day = today.getDate();

        //如果是1-9月份，前面补0
        if (month < 10) {
            month = "0" + month;
        }
        //如果是1-9号，前面补0
        if (day < 10) {
            day = "0" + day;
        }
        let date = year + "-" + month + "-" + day;
        $("#today").text(date);

        Toastify({
            text: "欢迎回来，admin！",
            duration: 3000,
            avatar: "https://img.nicholasld.cn/i/2023/04/09/6432807ee7b23.jpg",
            close: true,
            gravity: "top", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                background: "linear-gradient(to right, #00b09b, #96c93d)",
            }
        }).showToast();
    });
    //模拟数据
    let data = [
        {
            "loginTime": "2021-04-06 12:12:12",
            "username": "admin",
            "ip": "127.0.0.1",
            "os": "Windows 10",
            "status": "成功"
        },
        {
            "loginTime": "2021-04-06 12:12:12",
            "username": "admin",
            "ip": "127.0.0.1",
            "os": "Windows 10",
            "status": "成功"
        }, {
            "loginTime": "2021-04-06 12:12:12",
            "username": "admin",
            "ip": "127.0.0.1",
            "os": "Windows 10",
            "status": "成功"
        }, {
            "loginTime": "2021-04-06 12:12:12",
            "username": "admin",
            "ip": "127.0.0.1",
            "os": "Windows 10",
            "status": "成功"
        }, {
            "loginTime": "2021-04-06 12:12:12",
            "username": "admin",
            "ip": "127.0.0.1",
            "os": "Windows 10",
            "status": "成功"
        }, {
            "loginTime": "2021-04-06 12:12:12",
            "username": "admin",
            "ip": "127.0.0.1",
            "os": "Windows 10",
            "status": "成功"
        }, {
            "loginTime": "2021-04-06 12:12:12",
            "username": "admin",
            "ip": "127.0.0.1",
            "os": "Windows 10",
            "status": "成功"
        }, {
            "loginTime": "2021-04-06 12:12:12",
            "username": "admin",
            "ip": "127.0.0.1",
            "os": "Windows 10",
            "status": "成功"
        }
    ];

    //初始化表格
    $('#login_log').bootstrapTable({
        data: data,
        pagination: true,
        pageSize: 5,
        pageList: [5, 10, 20],
        columns: [{
            field: 'loginTime',
            title: '登录时间'
        }, {
            field: 'username',
            title: '用户名'
        }, {
            field: 'ip',
            title: 'IP'
        }, {
            field: 'os',
            title: '操作系统'
        }, {
            field: 'status',
            title: '状态'
        }]
    });

</script>
<style>
    .pagination {
        margin-right: 50px;
    }
</style>
</html>
