<!DOCTYPE html>
<html lang="zh" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>调试页面 - 物联网调试管理系统</title>
    <script th:src="@{/statics/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/statics/tabler/tabler.min.js}"></script>
    <link rel="stylesheet" th:href="@{/statics/tabler/tabler.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/statics/bootstrap/table/bootstrap-table.min.css}">
    <script th:src="@{/statics/bootstrap/table/bootstrap-table.min.js}"></script>
    <script th:src="@{/statics/bootstrap/table/bootstrap-table-zh-CN.min.js}"></script>
    <link rel="stylesheet" th:href="@{/statics/system/common.css}">
</head>
<body>
<div class="page">
    <div th:replace="common/header :: header"></div>

    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            物联网调试管理后台
                        </div>
                        <h2 class="page-title">
                            调试页面管理
                        </h2>
                    </div>
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <div class="btn-list">
                                <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                                    新建调试页面
                                </a>
                                <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                                </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <h3 class="mb-1">NMQS API 服务异常！<span class="status status-red">受影响的业务：调试、调试页面添加、NMQS Token管理</span></h3>
                            <p>
                                NicholasLD's Message Queue Service 服务异常，所有调试服务将不可用！<br>
                                <span style="font-weight: bolder;">请联系系统管理员！</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <h3 class="mb-1">调试页面不可用！<span class="status status-red">受影响的业务：调试、调试页面添加</span></h3>
                            <p>
                                没有找到有效的Nmqs Token，无法添加新调试页面，现有调试页面功能将不可用！<br>
                                <span style="font-weight: bolder;">请前往 Token 管理页面添加有效的Nmqs Token！</span>
                            </p>
                            <div class="btn-list">
                                <a th:href="@{/token}" class="btn btn-danger">前往 Nmqs Token</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-deck row-cards">
                    <div class="col-12">
                        <div class="spinner-border" id="list_refresh"></div>
                        <div id="card" class="card">
                            <div class="card-body">
                                <div class="table-responsive" style="height: 460px">
                                    <table class="table table-vcenter" id="page_list">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>页面名称</th>
                                            <th>访问地址</th>
                                            <th>Token</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    //菜单class追加属性
    $(function () {
        $("#menu_pages").addClass("active");
        $("#card").hide();

        setTimeout(function () {
            $("#list_refresh").hide();
            $("#card").show();
        }, 1000);
    });

    //模拟数据
    let data = [
        {
            "id": 1,
            "name": "调试页面1",
            "url": "http://test.com/",
            "token": "123456",
            "status": 1
        },
        {
            "id": 2,
            "name": "调试页面1",
            "url": "http://test.com/",
            "token": "123456",
            "status": 1
        },
        {
            "id": 1,
            "name": "调试页面1",
            "url": "http://test.com/",
            "token": "123456",
            "status": 1
        },
        {
            "id": 1,
            "name": "调试页面1",
            "url": "http://test.com/",
            "token": "123456",
            "status": 1
        },
        {
            "id": 1,
            "name": "调试页面1",
            "url": "http://test.com/",
            "token": "123456",
            "status": 1
        },
        {
            "id": 1,
            "name": "调试页面1",
            "url": "http://test.com/",
            "token": "123456",
            "status": 1
        },
        {
            "id": 1,
            "name": "调试页面1",
            "url": "http://test.com/",
            "token": "123456",
            "status": 1
        },
        {
            "id": 1,
            "name": "调试页面1",
            "url": "http://test.com/",
            "token": "123456",
            "status": 1
        },
        {
            "id": 1,
            "name": "调试页面1",
            "url": "http://test.com/",
            "token": "123456",
            "status": 2
        },
        {
            "id": 1,
            "name": "调试页面1",
            "url": "http://test.com/",
            "token": "123456",
            "status": 1
        },
        {
            "id": 1,
            "name": "调试页面1",
            "url": "http://test.com/",
            "token": "123456",
            "status": 1
        }
    ];

    //渲染数据
    $('#page_list').bootstrapTable({
        data: data,
        pagination: true,
        pageSize: 5,
        pageList: [5, 10, 20],
        columns: [{
            field: 'id',
            title: 'ID',
            align: 'center',
            valign: 'middle',
            sortable: true
        }, {
            field: 'name',
            title: '页面名称',
            align: 'center',
            valign: 'middle',
            sortable: true
        }, {
            field: 'url',
            title: '访问地址',
            align: 'center',
            valign: 'middle',
            sortable: true,
            formatter: function (value, row, index) {
                return '<a href="' + value + '" target="_blank">' + value + '</a>';
            }
        }, {
            field: 'token',
            title: 'Token',
            align: 'center',
            valign: 'middle',
            sortable: true
        }, {
            field: 'status',
            title: '状态',
            align: 'center',
            valign: 'middle',
            sortable: true,
            formatter: function (value, row, index) {
                if (value === 1) {
                    return '<span class="badge bg-green">启用</span>';
                } else {
                    return '<span class="badge bg-red">禁用</span>';
                }
            }
        }, {
            field: 'id',
            title: '操作',
            align: 'center',
            valign: 'middle',
            sortable: true,
            formatter: function (value, row, index) {
                return '<a href="#" class="btn btn-sm btn-primary">编辑</a> <a href="#" class="btn btn-sm btn-danger">删除</a>';
            }
        }]
    })
</script>
<style>
    .fixed-table-container {
        height: 400px;
    }
</style>
</html>
